<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <p>JUNGLE was created by the legendary Lance Black and his team to provide the no strings attached
hook ups that males want and females will just have to get used to.<br> <span text-center>You're Welcome Guys.</span></p>
</ion-content>
