<ion-header>
  <ion-navbar color="primary">
       <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Photos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
 <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <img src={{slide.image}} class="slide-image"/>
      <h2 class="slide-title">{{slide.title}}</h2>
      <p>{{slide.description}}</p>
    </ion-slide>
  </ion-slides>
</ion-content>
