<ion-header>
  <ion-navbar color="primary">
       <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<img src="assets/img/400dpiLogo.jpg" alt="" style="position: absolute; top:30%;left: 0%;">
</ion-content>
