<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Terms&Conditions
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ul padding-left>
    <li>
No names
</li>
<li>
No dates
</li>
<li>

No relationships
</li>
<li>
No second meetings
</li>
<li>
Any violation of any of these rules will result in immediate termination of your privileges at JUNGLE
and reinstatement is at the discretion of the administrators and only after you submit to a two week
retraining protocol
</li>
</ul>
</ion-content>
